body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.page-title{
 
  font-size: 72px;
  margin:0;
  text-shadow:0px -2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom left, #dbdbdb, #000000);
  display: flex;
  justify-content: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.button-div{
  align-items:center;
  display:flex;
  margin-top: 8rem;
  margin-left:1.2rem;
  justify-content:center;
}
.generate-button{
  border:1px black solid;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  font-size: 0.9rem;
  font-weight:bold;
  background-color: rgba(0,0,0, 0.1);
  cursor: pointer;
}
.generate-button:hover{
  background-color:rgba(0,0,0,0.3);
}
.generate-button:active{
  width: 100px;
  height: 100px;
  background-color:rgba(0,0,0,0.5);
}

.title-div{
  margin-top: 5rem;
  display:flex;
  align-items:center;
  justify-content: center;
}
.website-container{
  display: flex;
  justify-content:center;

  align-items:center;
  margin-top: 3rem;
  min-width: 6rem;
  min-height: 6rem;
  margin-left: 0;
}

.movie-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem;
  background-color: rgba(150, 150, 150, 0.1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 42rem;
  max-height: 42rem;
  height: 100%;
  width: 40%;
  

  justify-content: center;
  align-items:center;
}
.movie-inside{
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}
.movie-grid{
  
  display:flex;
  flex-direction:column;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5px;
  

}
.photo{
  display:block;
  border-radius: 1rem 1rem;
  max-width: 10rem;
  height: 100%;
  width: 100%;
  margin: 1rem auto;
  
  box-shadow: 10px 5px 10px rgba(0,0,0,0.2);
}
.photo-div{
  display:flex;
  align-items:center;
  justify-content:center;
}
.movie-overview, .movie-genres, .movie-subheader{
  font-size: 0.9rem;
  
}
.movie-header{
  font-size: 1.3rem;
  color:black;
}

.time-container{
  color:transparent;
  font-weight:bold;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 30px;
  text-shadow:0px -2px rgba(0, 0, 0, 0.4);
}
.logo-div{
  display:flex;
  justify-content:center;
  margin-top: 1rem;
  margin-bottom: -1rem;
  
}
.logo{
  
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  width: 5rem;
  height: 5rem;
  
}


@media (max-width: 768px) {
  .movie-container {
    width: 90%; 
  }
  .page-title {
    font-size: 40px; 
  }
  .photo{
    margin-right: 1rem;
  }

  
  .movie-container,
  .website-container,
  .button-div {
    max-width: 90%; 
  }

  .generate-button {
    height: 80px; 
    width: 80px; 
    font-size: 16px; 
  }

  .movie-grid {
    margin: 0; 
  }
  .movie-header {
    font-size: 1rem;
  }

  .movie-overview, .movie-genres, .movie-subheader {
    font-size: 0.8rem; 
  }
  .website-container{
    margin-left: 1.2rem;
  }
  .logo {
    width: 3rem;
    height: 3rem;
  }
}
